<div bsModal #childModal="bs-modal" [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xm">
    <!-- /.modal-content -->
    <form name="form" class="form form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thay Đổi Mật Khẩu</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12"> 
              <div class="form-group row">
                <label class="col-md-4 label-control">Mật Khẩu Cũ:</label>
                <div class="col-md-7 mx-auto">
                  <input type="password" class="form-control" minlength="8" name="OldPassword" autocomplete="false" [(ngModel)]="model.OldPassword"
                    #OldPassword="ngModel" required>
                  <div *ngIf="f.submitted  && OldPassword.errors && OldPassword.errors.required" class="error-message">Thông tin bắt buộc.</div>
                  <div *ngIf="f.submitted && OldPassword.errors && !OldPassword.errors.required && OldPassword.errors.minlength" class="error-message">Mật khẩu phải dài hơn 8 ký tự</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-4 label-control">Mật Khẩu Mới:</label>
                <div class="col-md-7 mx-auto">
                  <input type="password" class="form-control" minlength="8" name="Password" autocomplete="false" [(ngModel)]="model.Password"
                    #Password="ngModel" required>
                  <div *ngIf="f.submitted  && Password.errors && Password.errors.required" class="error-message">Thông tin bắt buộc.</div>
                  <div *ngIf="f.submitted && Password.errors && !Password.errors.required && Password.errors.minlength" class="error-message">Mật khẩu phải dài hơn 8 ký tự</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-4 label-control">Nhập Lại Mật Khẩu:</label>
                <div class="col-md-7 mx-auto">
                  <input appEqualToControl="" [equalControl]="Password" type="password" class="form-control"
                    autocomplete="false" minlength="8" name="SecondPassword" [(ngModel)]="model.SecondPassword" #SecondPassword="ngModel"
                    required>
                  <div *ngIf="f.submitted && SecondPassword.errors && SecondPassword.errors.required" class="error-message">Thông tin bắt buộc.</div>
                  <div *ngIf="f.submitted && SecondPassword.errors && !SecondPassword.errors.required && SecondPassword.errors.minlength" class="error-message">Mật khẩu phải dài hơn 8 ký tự</div>
                  <div *ngIf="f.submitted && SecondPassword.errors 
                  && !SecondPassword.errors.required 
                  && !SecondPassword.errors.minlength 
                  && SecondPassword.errors.equalC" class="error-message">Mật Khẩu Không Khớp</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info btn-min-width box-shadow-4 mr-1" [disabled]="Submitting">Lưu</button>
          <button type="button" class="btn btn-outline-secondary btn-min-width box-shadow-4" (click)="cancel()">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
