<!-- <div class="content-header row mb-1">
  <div class="content-header-right col-md-6 col-12">
  </div>
</div>
<div class="content-body">
  <section id="horizontal-form-layouts">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="horz-layout-colored-controls">Thông Tin Tài Khoản</h4>
          </div>
          <div class="card-content collpase show">
            <div class="card-body">
              <form name="form" class="form form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                <div class="form-body col-md-12">
                  <h4 class="form-section"><i class="la la-eye"></i> Chỉnh sửa Thông Tin Tài Khoản </h4>
                  <div class="row  text-center">
                    <div class="form-group row col-md-12 clearfix">
                      <div class="col-md-12">
                        <img width="100" height="100" alt="Logo" [src]="model.ProfilePicturePath" class="rounded">
                      </div>
                      <div class="col-md-12 m-t-5">
                        <button type="button" style="width:135px;" class="btn btn-outline-primary mt-1" (click)="cropImage()">Thay Avatar</button>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !Name.valid }">
                        <label class="col-md-4 label-control">Tên<span class="error-message">*</span>: </label>
                        <div class="col-md-8 mx-auto">
                          <input type="text" class="form-control" name="Name" [(ngModel)]="model.Name" #Name="ngModel" required />
                          <div *ngIf="f.submitted && Name.errors && Name.errors.required" class="error-message">Thông tin bắt buộc.</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !PhoneNumber.valid }">
                        <label class="col-md-4 label-control">Số Điện Thoại:<span class="error-message"
                            style="font-size: 11px!important;
                                    margin-left: 5px;
                                    position: absolute;">1</span></label>
                        <div class="col-md-8 mx-auto">
                          <input autocomplete="off" type="text" class="form-control" [textMask]="{mask: maskPhone}"
                            name="Phone Number" [(ngModel)]="model.PhoneNumber" #PhoneNumber="ngModel"
                            [required]="model.PhoneNumber?null:true" />
                          <div *ngIf="f.submitted && PhoneNumber.errors && PhoneNumber.errors.required" class="error-message">Thông tin bắt buộc.</div>
                          <div *ngIf="f.submitted && PhoneNumber.errors && !PhoneNumber.errors.required && PhoneNumber.errors.pattern" class="error-message">Giá trị không hợp lệ.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group row" >
                        <label class="col-md-4 label-control">Email<span class="error-message">*</span>:</label>
                        <div class="col-md-8 mx-auto">
                           <label>{{model.Email}}</label>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="form-actions text-right"> 
                  <button type="submit" [disabled]="Submitting" class="btn btn-info btn-min-width box-shadow-4 mr-1">
                    <i class="la la-check-square-o"></i> Lưu
                  </button>
                  <button type="button" (click)="cancel()" class="btn btn-outline-secondary btn-min-width box-shadow-4">
                    <i class="ft-x"></i> Hủy
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-crop-image #cropImageApp (onClose)="changeAvatar($event)" [typeUpload]="'user'" [link]="'/api/Utility/UploadFile'"
  [ModelID]="model.Id"></app-crop-image> -->


  <!-- Slaes & Purchase Order -->
  <div class="content-body">
  <!-- <section id="horizontal-form-layouts"> -->
  <div class="row">
    <div class="col-12 col-xl-14">
        <div id="accordionCrypto" role="tablist" aria-multiselectable="true">
            <div class="card accordion collapse-icon accordion-icon-rotate">

                <a id="heading31" data-toggle="collapse" href="#accordionBTC" aria-expanded="true" aria-controls="accordionBTC" class="card-header bg-info p-1 bg-lighten-1">
                    <div class="card-title lead white">Thông tin cá nhân & Thông tin ngân hàng</div>
                </a>
                <div id="accordionBTC" role="tabpanel" data-parent="#accordionCrypto" aria-labelledby="heading31" class=" collapse show" aria-expanded="true">
                    <div class="card-content">
                        <div class="card-body p-0">
                            <div class="media-list list-group">
                                <div class="list-group-item list-group-item-action media p-1">
                                    <a class="media-link" href="#">
                                        <div class="media-left">
                                            <p class="text-bold-600 m-0">BTC/USD</p>
                                            <p class="font-small-2 text-muted m-0">24h Change</p>
                                            <p class="font-small-2 text-muted m-0">24h Volume</p>
                                        </div>
                                        <div class="media-body text-right">
                                            <p class="text-bold-600 m-0">11916.9</p>
                                            <p class="font-small-2 text-muted m-0 success">283.1 USD (+2.33%)</p>
                                            <p class="font-small-2 text-muted m-0 text-bold-600">1029.1906 BTC</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-group-item list-group-item-action media p-1 bg-info bg-lighten-5">
                                    <a class="media-link" href="#">
                                        <div class="media-left">
                                            <p class="text-bold-600 m-0">BTC/EUR</p>
                                            <p class="font-small-2 text-muted m-0">24h Change</p>
                                            <p class="font-small-2 text-muted m-0">24h Volume</p>
                                        </div>
                                        <div class="media-body text-right">
                                            <p class="text-bold-600 m-0">9213.3</p>
                                            <p class="font-small-2 text-muted m-0 success">56.1 EUR (+5.52%)</p>
                                            <p class="font-small-2 text-muted m-0 text-bold-600">560.1906 BTC</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-group-item list-group-item-action media p-1 border-bottom-0">
                                    <a class="media-link" href="#">
                                        <div class="media-left">
                                            <p class="text-bold-600 m-0">BTC/GBP</p>
                                            <p class="font-small-2 text-muted m-0">24h Change</p>
                                            <p class="font-small-2 text-muted m-0">24h Volume</p>
                                        </div>
                                        <div class="media-body text-right">
                                            <p class="text-bold-600 m-0">8015.1</p>
                                            <p class="font-small-2 text-muted m-0 danger">-183.1 USD (-1.33%)</p>
                                            <p class="font-small-2 text-muted m-0 text-bold-600">320.1906 BTC</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a id="heading32" class="card-header bg-info p-1 bg-lighten-1 my-1" data-toggle="collapse" href="#accordionETH" aria-expanded="false" aria-controls="accordionETH">
                    <div class="card-title lead white collapsed">Đổi mật khẩu</div>
                </a>
                <div id="accordionETH" role="tabpanel" data-parent="#accordionCrypto" aria-labelledby="heading32" class=" collapse" aria-expanded="false">
                    <div class="card-content">
                        <div class="card-body p-0">
                            <div class="media-list list-group">
                                <div class="list-group-item list-group-item-action media p-1">
                                    <a class="media-link" href="#">
                                        <div class="media-left">
                                            <p class="text-bold-600 m-0">ETH/USD</p>
                                            <p class="font-small-2 text-muted m-0">24h Change</p>
                                            <p class="font-small-2 text-muted m-0">24h Volume</p>
                                        </div>
                                        <div class="media-body text-right">
                                            <p class="text-bold-600 m-0">11916.9</p>
                                            <p class="font-small-2 text-muted m-0 success">283.1 USD (+2.33%)</p>
                                            <p class="font-small-2 text-muted m-0 text-bold-600">1029.1906 ETH</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-group-item list-group-item-action media p-1">
                                    <a class="media-link" href="#">
                                        <div class="media-left">
                                            <p class="text-bold-600 m-0">ETH/EUR</p>
                                            <p class="font-small-2 text-muted m-0">24h Change</p>
                                            <p class="font-small-2 text-muted m-0">24h Volume</p>
                                        </div>
                                        <div class="media-body text-right">
                                            <p class="text-bold-600 m-0">9213.3</p>
                                            <p class="font-small-2 text-muted m-0 success">56.1 EUR (+5.52%)</p>
                                            <p class="font-small-2 text-muted m-0 text-bold-600">560.1906 ETH</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-group-item list-group-item-action media p-1 border-bottom-0">
                                    <a class="media-link" href="#">
                                        <div class="media-left">
                                            <p class="text-bold-600 m-0">ETH/GBP</p>
                                            <p class="font-small-2 text-muted m-0">24h Change</p>
                                            <p class="font-small-2 text-muted m-0">24h Volume</p>
                                        </div>
                                        <div class="media-body text-right">
                                            <p class="text-bold-600 m-0">8015.1</p>
                                            <p class="font-small-2 text-muted m-0 danger">-183.1 USD (-1.33%)</p>
                                            <p class="font-small-2 text-muted m-0 text-bold-600">320.1906 ETH</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a id="heading33" class="card-header bg-info p-1 bg-lighten-1" data-toggle="collapse" href="#accordionXRP" aria-expanded="false" aria-controls="accordionXRP">
                    <div class="card-title lead white collapsed">Quản lý ví & KYC bảo mật</div>
                </a>
                <div id="accordionXRP" role="tabpanel" data-parent="#accordionCrypto" aria-labelledby="heading33" class=" collapse" aria-expanded="false">
                    <div class="card-content">
                        <div class="card-body p-0">
                            <div class="media-list list-group">
                                <div class="list-group-item list-group-item-action media p-1">
                                    <a class="media-link" href="#">
                                        <div class="media-left">
                                            <p class="text-bold-600 m-0">XRP/USD</p>
                                            <p class="font-small-2 text-muted m-0">24h Change</p>
                                            <p class="font-small-2 text-muted m-0">24h Volume</p>
                                        </div>
                                        <div class="media-body text-right">
                                            <p class="text-bold-600 m-0">11916.9</p>
                                            <p class="font-small-2 text-muted m-0 success">283.1 USD (+2.33%)</p>
                                            <p class="font-small-2 text-muted m-0 text-bold-600">1029.1906 XRP</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-group-item list-group-item-action media p-1">
                                    <a class="media-link" href="#">
                                        <div class="media-left">
                                            <p class="text-bold-600 m-0">XRP/EUR</p>
                                            <p class="font-small-2 text-muted m-0">24h Change</p>
                                            <p class="font-small-2 text-muted m-0">24h Volume</p>
                                        </div>
                                        <div class="media-body text-right">
                                            <p class="text-bold-600 m-0">9213.3</p>
                                            <p class="font-small-2 text-muted m-0 success">56.1 EUR (+5.52%)</p>
                                            <p class="font-small-2 text-muted m-0 text-bold-600">560.1906 XRP</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-group-item list-group-item-action media p-1 border-bottom-0">
                                    <a class="media-link" href="#">
                                        <div class="media-left">
                                            <p class="text-bold-600 m-0">XRP/GBP</p>
                                            <p class="font-small-2 text-muted m-0">24h Change</p>
                                            <p class="font-small-2 text-muted m-0">24h Volume</p>
                                        </div>
                                        <div class="media-body text-right">
                                            <p class="text-bold-600 m-0">8015.1</p>
                                            <p class="font-small-2 text-muted m-0 danger">-183.1 USD (-1.33%)</p>
                                            <p class="font-small-2 text-muted m-0 text-bold-600">320.1906 XRP</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </section> -->
</div>
<!-- Trade History & Place Order -->