<div bsModal #childModal="bs-modal" [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1"
  role="dialog">
  <div class="modal-dialog ">
    <!-- /.modal-content -->
    <form name="form" class="form form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{isEdit?'Chỉnh Sửa':'Thêm Mới'}} Tổ Chức</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Name.valid }">
                <label class="col-md-12">Tên tổ chức<span class="error-message">*</span>:</label>
                <div class="col-md-12 mx-auto">
                  <input type="text" class="form-control" name="Name" [(ngModel)]="model.Name"
                    #Name="ngModel" required />
                  <div *ngIf="f.submitted && Name.errors && Name.errors.required" class="error-message">Thông tin bắt buộc</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !RepresentativeID.valid }">
                <label class="col-md-12">Người đại diện<span class="error-message">*</span>:</label>
                <div class="col-md-12 mx-auto">
                  <input type="hidden"  name="RepresentativeID" #RepresentativeID="ngModel" [(ngModel)]="model.RepresentativeID" required/> 
                  <select2 [data]="representatives" [value]="model.RepresentativeID" (valueChanged)="representativeChanged($event)" ></select2>
                  <div *ngIf="f.submitted && RepresentativeID.errors && RepresentativeID.errors.required" class="error-message">Thông tin bắt buộc</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Address.valid }">
                <label class="col-md-12">Địa Chỉ<span class="error-message">*</span>:</label>
                <div class="col-md-12 mx-auto">
                  <textarea class="form-control" name="Address"
                    [(ngModel)]="model.Address" #Address="ngModel" required></textarea>
                  <div *ngIf="f.submitted && Address.errors && Address.errors.required" class="error-message">Thông tin bắt buộc</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info btn-min-width box-shadow-4 mr-1"
            [disabled]="Submitting">Lưu</button>
          <button type="button" class="btn btn-outline-secondary btn-min-width box-shadow-4"
            (click)="cancel()">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
