<div bsModal #childModal="bs-modal" [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-xl">
    <!-- /.modal-content -->
    <form name="form" class="form form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{isEdit?'Chỉnh Sửa':'Thêm Mới'}} Khách Sạn, Nhà Nghỉ, Homstay</h4>
        </div>
        <!--body-->
        <div class="modal-body">
          <div class="row  text-center">
            <div class="form-group row col-md-12 clearfix">
              <div class="col-md-12" *ngIf="model.Avatar">
                <img width="100" height="100" alt="Logo" [src]="model.Avatar" class="rounded">
              </div>
              <div class="col-md-12 m-t-5">
                <input type="hidden" name="Avatar" [(ngModel)]="model.Avatar" #Avatar="ngModel" />
                <a style="position: relative;" class="btn btn-outline-primary mt-1">
                  <input type="file" name="file" appFileUpload="" [ModelID]="model.ID" [typeUpload]="'Company_Avatar'"
                    [link]="'/api/Utility/UploadFile'" (onStart)="startUploadAvatar($event)"
                    (onCallback)="callBackUploadAvatar($event)" (onErrorCallback)="errorCallback($event)"
                    style="opacity: 0;position: absolute;top: 0;left: 0;width: 100%;height: 100%;" />
                  Thay
                  Logo</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !CompanyType.valid }">
                <label class="col-md-12">Loại Hình Đăng Ký</label>
                <div class="col-md-12 mx-auto">
                  <select class="form-control" name="CompanyType" #CompanyType="ngModel" [(ngModel)]="model.CompanyType"
                    required>
                    <option value="null">--Chọn Loại Hình Đăng Ký--</option>
                    <option *ngFor="let item of companyTypes" [value]="item.id">{{item.name}}</option>
                  </select>
                  <div *ngIf="f.submitted && CompanyType.errors && CompanyType.errors.required" class="error-message">
                    Thông tin bắt buộc</div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Name.valid }">
                <label class="col-md-12">Tên Khách Sạn, Nhà Nghỉ, Homestay<span class="error-message">*</span>:
                </label>
                <div class="col-md-12 mx-auto">
                  <input type="text" class="form-control" name="Name" [(ngModel)]="model.Name" #Name="ngModel"
                    required />
                  <div *ngIf="f.submitted && Name.errors && Name.errors.required" class="error-message">Thông tin bắt
                    buộc.</div>
                </div>
              </div>
            </div>


          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !KindOf.valid }">
                <label class="col-md-12">Sức Chứa (Người)</label>
                <div class="col-md-12 mx-auto">
                  <input autocomplete="false" type="number" class="form-control" name="KindOf"
                    [(ngModel)]="model.KindOf" #KindOf="ngModel" required />
                  <div *ngIf="f.submitted && KindOf.errors && KindOf.errors.required" class="error-message">
                    Thông tin bắt buộc</div>
                </div>
              </div>
            </div>
            <div class="col-md-2" *ngIf="model.CompanyType!=2">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !QuanlityRoom.valid }">
                <label class="col-md-12">Số Lượng Phòng</label>
                <div class="col-md-12 mx-auto">
                  <input autocomplete="false" type="number" class="form-control" name="QuanlityRoom"
                    [(ngModel)]="model.QuanlityRoom" #QuanlityRoom="ngModel" required />
                  <div *ngIf="f.submitted && QuanlityRoom.errors && QuanlityRoom.errors.required" class="error-message">
                    Thông tin bắt buộc</div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Email.valid }">
                <label class="col-md-12">Email<span class="error-message">*</span>: </label>
                <div class="col-md-12 mx-auto">
                  <input autocomplete="false" type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    class="form-control" name="Email" [(ngModel)]="model.Email" #Email="ngModel" required />
                  <div *ngIf="f.submitted && Email.errors && Email.errors.required" class="error-message">Thông tin
                    bắt
                    buộc.</div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !CellPhoneNumber.valid }">
                <label class="col-md-12">Số Điện Thoại Di Động<span class="error-message">*</span>: </label>
                <div class="col-md-12 mx-auto">
                  <input type="text" class="form-control" name="CellPhoneNumber" [(ngModel)]="model.CellPhoneNumber"
                    [textMask]="{mask: maskPhone}" #CellPhoneNumber="ngModel" required />
                  <div *ngIf="f.submitted && CellPhoneNumber.errors && CellPhoneNumber.errors.required"
                    class="error-message">Thông tin bắt buộc.</div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !PhoneNumber.valid }">
                <label class="col-md-12">Số Điện Thoại Bàn<span class="error-message">*</span>: </label>
                <div class="col-md-12 mx-auto">
                  <input autocomplete="off" type="text" class="form-control" name="PhoneNumber"
                    [(ngModel)]="model.PhoneNumber" [textMask]="{mask: maskPhone}" #PhoneNumber="ngModel" required />
                  <div *ngIf="f.submitted && PhoneNumber.errors && PhoneNumber.errors.required" class="error-message">
                    Thông tin bắt buộc.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label class="col-md-12"></label>
                <div class="col-md-12 mx-auto">
                  <div class="skin skin-flat mt-1">
                    <fieldset>
                      <input class="icheckbox_flat-green checked" type="checkbox"  [(ngModel)]="model.IsOrganization" name="IsOrganization">
                      <label for="IsOrganization">&nbsp; Là Tổ Chức</label>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="model.IsOrganization">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !OrganizationID.valid }">
                <label class="col-md-12">Tên Tổ Chức:</label>
                <div class="col-md-12 mx-auto">
                  <input type="hidden" name="OrganizationID" #OrganizationID="ngModel"
                    [(ngModel)]="model.OrganizationID" required />
                  <select2 [data]="organizations" [value]="model.OrganizationID"
                    (valueChanged)="organizationChanged($event)"></select2>
                  <div *ngIf="f.submitted && OrganizationID.errors && OrganizationID.errors.required"
                    class="error-message">Thông tin bắt buộc</div>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="!model.IsOrganization">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !RepresentativeID.valid }">
                <label class="col-md-12">Người Đăng Ký:</label>
                <div class="col-md-12 mx-auto">
                  <input type="hidden" name="RepresentativeID" #RepresentativeID="ngModel"
                    [(ngModel)]="model.RepresentativeID" required />
                  <select2 [data]="representatives" [value]="model.RepresentativeID"
                    (valueChanged)="representativeChanged($event)"></select2>
                  <div *ngIf="f.submitted && RepresentativeID.errors && RepresentativeID.errors.required"
                    class="error-message">Thông tin bắt buộc</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Address.valid }">
                <label class="col-md-12">Địa Chỉ<span class="error-message">*</span>: </label>
                <div class="col-md-12 mx-auto">
                  <textarea rows="1" type="text" class="form-control" name="Address" [(ngModel)]="model.Address"
                    #Address="ngModel" required></textarea>
                  <div *ngIf="f.submitted && Address.errors && Address.errors.required" class="error-message">Thông
                    tin
                    bắt buộc.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 mb-2 text-right">
            <button
              *ngIf="currentUser && currentUser.Role && (currentUser.Role == 'Administrator' || currentUser.Role == 'Employee_Travel_Services')"
              type="button" class="btn btn-outline-primary btn-sm" (click)="addLicenseType()"><i class="la la-plus"></i>
              Thêm Giấy Phép Đăng Ký
            </button>
          </div>

          <div class="table-responsive col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr class="f-11">
                  <th>#</th>
                  <th class="text-center">Loại Giấy Phép</th>
                  <th class="text-center">Số Giấy Phép</th>
                  <th class="text-center">Ngày Cấp Giấy Phép</th>
                  <th class="text-center">Cơ Quan Cấp</th>
                  <th class="text-center">Là Giấy Phép Chính</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let source of model.CompanyLicenseType; let i=index">
                  <td class="f-12 text-center form-group">
                    {{i+1}}
                  </td>

                  <td class="f-12">
                    <label class="label">
                      {{getLicenseTypeName(source.LicenseTypeID)}}
                    </label>
                  </td>

                  <td class="f-12 text-center">
                    <label class="badge badge-success">
                      {{source.LicenseNumber}}
                    </label>
                  </td>

                  <td class="f-12 text-center">
                    <label class="label">
                      {{source.LicenseDate | date : 'dd/MM/yyyy'}}
                    </label>
                  </td>
                  <td class="f-12 text-center">
                    <label class="badge badge-success">
                      {{source.ProviderBy}}
                    </label>
                  </td>
                  <td class="f-12 text-center">
                    <label class="label" *ngIf="source.IsPrimaryLicense">
                      <fieldset>
                        <input disabled="disabled" appICheck checked="checked" class="icheckbox_flat-green checked"
                          type="checkbox" name="IsPrimaryLicense">
                      </fieldset>
                    </label>
                    <label class="label" *ngIf="!source.IsPrimaryLicense">
                      <fieldset>
                        <input disabled="disabled" appICheck class="icheckbox_flat-green" type="checkbox"
                          name="IsPrimaryLicense">
                      </fieldset>
                    </label>
                  </td>
                  <td class="f-12">
                    <div class="col-sm-12 text-center room-style"
                      *ngIf="currentUser && currentUser.Role && (currentUser.Role == 'Administrator' || currentUser.Role == 'Employee_Travel_Services')">
                      <button *ngIf="isEdit" type="button" class="btn btn-outline-info btn-sm"
                        (click)="editLicenseType(model.ID, source.ID)">
                        Sửa
                      </button>&nbsp;&nbsp;
                      <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeLicenseType(i)">
                        Xóa
                      </button>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="model.CompanyLicenseType.length  == 0">
                  <td colspan="6" class="text-center">
                    <h5 class="mt-2">Chưa có loại giấy phép nào được đăng ký</h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
        <!--footer-->
        <div class="modal-footer">
          <button
            *ngIf="currentUser && currentUser.Role && (currentUser.Role == 'Administrator' || currentUser.Role == 'Employee_Travel_Services')"
            type="submit" class="btn btn-info btn-min-width box-shadow-4 mr-1" [disabled]="Submitting">Lưu</button>
          <button type="button" class="btn btn-outline-secondary btn-min-width box-shadow-4"
            (click)="cancel()">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-company-license-type #addModal (onClosed)="onCloseLicenseType($event)"></app-company-license-type>
