<div class="content-header row mb-1">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title">Phòng</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Trang Chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/','management','companys']">Khách Sạn-Nhà Nghỉ-Homestay</a>
          </li>
          <li class="breadcrumb-item">Phòng
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12">

  </div>
</div>
<div class="content-body">
  <div class="row">
    <div class="col-12">
      <div class="card" [appActionCardButton]="'Services'">
        <div class="card-header">
          <h4 class="card-title">Quản lý phòng</h4>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a *ngIf="currentUser && currentUser.Role && currentUser.Role == 'CompanyAdmin'" class="btn btn-outline-secondary btn-round btn-sm" (click)="add()"><i class="ft-plus"></i> Thêm Mới</a></li>
              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
              <li><a (click)="RefreshTable()"><i class="ft-rotate-cw"></i></a></li>
              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body card-dashboard">
            <table
              class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle dataTable"
              [isFilter]="false" [isLengthChange]="false" appPagingTable="" [aoColumns]="aoColumns"
              [aoColumnDefs]="aoColumnDefs" [serverLink]="serverLink" [aaSorting]="aaSorting" [compRef]="compRef"
              (tableEvent)="catchTable($event)" style="width: 100%">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-room-info #addModal (onClose)="RefreshTable()" [companyId]="companyId"></app-room-info>
<app-image-storage #imageStorageModal></app-image-storage>
