
    <div class="content-body">
        <div id="crypto-stats-3" class="row">
            <div class="col-xl-3 col-12">
                <div class="card crypto-card-3 pull-up">
                    <div class="card-content">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-5">
                                    <i class="material-icons blue font-large-4">save</i>
                                    <!-- <i class='material-icons' style="color: #142dbb; font-size: 24px;">trending_up</i>
                                    <i class='material-icons'>monetization_on</i>
                                    <i class='material-icons'>account_balance_wallet</i> -->
                                </div>
                                <div class="col-7 text-right font-large-5">
                                    <h4>$944</h4>
                                    <h6 class="success darken-4">12% <i class="la la-arrow-up"></i></h6>
                                </div>
                                <div class="col-12 text-left fo" style="padding-top: 15px;">
                                    <h4>Tổng lợi nhuận</h4>
                                    <h6 class="success darken-4">100,000 VND <i class="la la-arrow-up"></i></h6>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-12"><canvas id="btc-chartjs" class="height-75"></canvas></div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-12">
                <div class="card crypto-card-3 pull-up">
                    <div class="card-content">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-5">
                                    <i class="material-icons teal font-large-4">trending_up</i>
                                </div>
                                <div class="col-7 text-right font-large-5">
                                    <h4>$5,400</h4>
                                    <h6 class="success darken-4">20% <i class="la la-arrow-up"></i></h6>
                                </div>
                                <div class="col-12 text-left fo" style="padding-top: 15px;">
                                    <h4>Số gói đầu tư</h4>
                                    <h6 class="success darken-4">10 gói <i class="la la-arrow-up"></i></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-12">
                <div class="card crypto-card-3 pull-up">
                    <div class="card-content">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-5">
                                    <i class="material-icons success font-large-4">monetization_on</i>
                                </div>
                                <div class="col-7 text-right font-large-5">
                                    <h4>$944</h4>
                                    <h6 class="success darken-4">15% <i class="la la-arrow-up"></i></h6>
                                </div>
                                <div class="col-12 text-left fo" style="padding-top: 15px;">
                                    <h4>Tổng nạp</h4>
                                    <h6 class="success darken-4">100,000 VND <i class="la la-arrow-up"></i></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-12">
              <div class="card crypto-card-3 pull-up">
                  <div class="card-content">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-5">
                                <i class="material-icons primary font-large-4">account_balance_wallet</i>
                            </div>
                            <div class="col-7 text-right font-large-5">
                                <h4>$944</h4>
                                <h6 class="success darken-4">22% <i class="la la-arrow-up"></i></h6>
                            </div>
                            <div class="col-12 text-left fo" style="padding-top: 15px;">
                                <h4>Tổng rút</h4>
                                <h6 class="success darken-4">100,000 VND <i class="la la-arrow-up"></i></h6>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- Candlestick Multi Level Control Chart -->

        <!-- Slaes & Purchase Order -->
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Lợi nhuận hàng tháng</h4>

                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li class="text-center mr-4">
                                    <h6 class="text-muted">Last price</h6>
                                    <p class="text-bold-600 mb-0">$ 11916.9</p>
                                </li>
                                <li class="text-center mr-4">
                                    <h6 class="text-muted">Daily change</h6>
                                    <p class="text-bold-600 mb-0">$ 283.1</p>
                                </li>
                                <li class="text-center">
                                    <h6 class="text-muted">24h volume</h6>
                                    <p class="text-bold-600 mb-0"><i class="cc BTC-alt" title="BTC"></i> 1029.1906 BTC</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body pt-0">
                            <div id="btc-candlestick-control" class="height-350 mt-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
