<!-- <div class="app-content content"> -->
  <!-- <div class="content-header row">
  </div>
  <div class="content-overlay"></div> -->

    <div class="content-body">
        <div id="crypto-stats-3" class="row">
            <div class="col-xl-3 col-12">
                <div class="card crypto-card-3 pull-up">
                    <div class="card-content">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-2">
                                    <i class="cc BTC warning font-large-2" role="presentation" title="BTC"></i>
                                </div>
                                <div class="col-5 pl-2">
                                    <h4>BTC</h4>
                                    <h6 class="text-muted">Bitcoin</h6>
                                </div>
                                <div class="col-5 text-right">
                                    <h4>Tổng lợi nhuận</h4>
                                    <h6 class="success darken-4">31% <i class="la la-arrow-up"></i></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12"><canvas id="btc-chartjs" class="height-75"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-12">
                <div class="card crypto-card-3 pull-up">
                    <div class="card-content">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-2">
                                    <i class="cc ETH blue-grey lighten-1 font-large-2" title="ETH"></i>
                                </div>
                                <div class="col-5 pl-2">
                                    <h4>ETH</h4>
                                    <h6 class="text-muted">Ethereum</h6>
                                </div>
                                <div class="col-5 text-right">
                                    <h4>$944</h4>
                                    <h6 class="success darken-4">12% <i class="la la-arrow-up"></i></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12"><canvas id="eth-chartjs" class="height-75"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-12">
                <div class="card crypto-card-3 pull-up">
                    <div class="card-content">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-2">
                                    <i class="cc XRP info font-large-2" title="XRP"></i>
                                </div>
                                <div class="col-5 pl-2">
                                    <h4>XRP</h4>
                                    <h6 class="text-muted">Balance</h6>
                                </div>
                                <div class="col-5 text-right">
                                    <h4>$1.2</h4>
                                    <h6 class="danger">20% <i class="la la-arrow-down"></i></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12"><canvas id="xrp-chartjs" class="height-75"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-12">
              <div class="card crypto-card-3 pull-up">
                  <div class="card-content">
                      <div class="card-body pb-0">
                          <div class="row">
                              <div class="col-2">
                                  <i class="cc XRP info font-large-2" title="XRP"></i>
                              </div>
                              <div class="col-5 pl-2">
                                  <h4>XRP</h4>
                                  <h6 class="text-muted">Balance</h6>
                              </div>
                              <div class="col-5 text-right">
                                  <h4>$1.2</h4>
                                  <h6 class="danger">20% <i class="la la-arrow-down"></i></h6>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12"><canvas id="xrp-chartjs" class="height-75"></canvas></div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- Candlestick Multi Level Control Chart -->

        <!-- Slaes & Purchase Order -->
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">BTC/USD</h4>

                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li class="text-center mr-4">
                                    <h6 class="text-muted">Last price</h6>
                                    <p class="text-bold-600 mb-0">$ 11916.9</p>
                                </li>
                                <li class="text-center mr-4">
                                    <h6 class="text-muted">Daily change</h6>
                                    <p class="text-bold-600 mb-0">$ 283.1</p>
                                </li>
                                <li class="text-center">
                                    <h6 class="text-muted">24h volume</h6>
                                    <p class="text-bold-600 mb-0"><i class="cc BTC-alt" title="BTC"></i> 1029.1906 BTC</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body pt-0">
                            <div id="btc-candlestick-control" class="height-350 mt-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
  <!-- <company-management></company-management> -->
<!-- </div> -->
