.navbar-wrapper {
    z-index: 1038;
    box-sizing: inherit;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
    background-color: white;
}