<div bsModal #childModal="bs-modal" [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Danh Sách Khách Hàng</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table
                class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle dataTable"
                [isFilter]="true" [isLengthChange]="true" appPagingTable="" [aoColumns]="aoColumns"
                [aoColumnDefs]="aoColumnDefs" [serverLink]="serverLink" [aaSorting]="aaSorting" [compRef]="compRef"
                (tableEvent)="catchTable($event)" style="width: 100%">
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" (click)="add()">Thêm Mới Khách Hàng </button>
          <button class="btn btn-default" (click)="hide()">Đóng </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-customer-info #addCust (onClose)="RefreshTable()"></app-customer-info>