.header-report{
    font-family: 'Times New Roman';
    font-size:1.5em;
    text-align: center;
    font-weight: bold;
}
.header{
    font-family: 'Times New Roman';
    font-size:1.2em;
    text-align: center;
    font-weight: bold;
}
td {
    font-family: 'Times New Roman';
    font-size:1.2em;
    padding: 2px;
}

.text-right{
    text-align: right;
    padding-right: 4px!important;
}

.text-center{
    text-align: center;
}