<!-- BEGIN: Main Menu-->
<!-- <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation"> -->
    <!-- TODO -->
    <!-- <li *ngIf="currentUser.Role == 'Administrator' || currentUser.Role == 'Employee_Historical' || currentUser.Role == 'Employee_Cultural_Services' || currentUser.Role == 'Employee_Travel_Services'"
        class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="javascript:void(0)"
            data-toggle="dropdown"><i class="la la-newspaper-o"></i><span>Thống Kê Báo Cáo</span></a>
        <ul class="dropdown-menu">
            <li *ngIf="currentUser.Role == 'Administrator' || currentUser.Role == 'Employee_Cultural_Services'"
                data-menu="" class="nav navbar-nav" data-menu="dropdown">
                <a class="dropdown-item" [routerLink]="['/','management','report-cultural-services']" data-toggle="">
                    <i class="la la-hotel"></i><span>Thông Tin Quản Lý Dịch Vụ Văn Hóa</span>
                </a>
            </li>
            <li *ngIf="currentUser.Role == 'Administrator' || currentUser.Role == 'Employee_Travel_Services'"
                class="nav navbar-nav" data-menu="dropdown"><a class="dropdown-toggle nav-link"
                    href="javascript:void(0)" [routerLink]="['/','management','report-travel-services']"
                    data-toggle="dropdown"><i class="la la-cloud"></i><span>Thông Tin Quản Lý Dịch Vụ Du Lịch</span></a>
            </li>
            <li *ngIf="currentUser.Role == 'Administrator' || currentUser.Role == 'Employee_Travel_Services'"
                class="nav navbar-nav" data-menu="dropdown">
                <a class="dropdown-toggle nav-link"
                    href="javascript:void(0)" [routerLink]="['/','management','report-stay-information-manager']"
                    data-toggle="dropdown"><i class="la la-cloud"></i><span>Thông Tin Quản Lý Lưu Trú</span></a>
            </li>
            <li *ngIf="currentUser.Role == 'Administrator' || currentUser.Role == 'Employee_Historical'"
                class="nav navbar-nav" data-menu="dropdown"><a class="dropdown-toggle nav-link"
                    href="javascript:void(0)" [routerLink]="['/','management','report-historical']"
                    data-toggle="dropdown"><i class="la la-cloud"></i><span>Thông Tin Quản Lý Di Tích Lịch Sử</span></a>
            </li>
        </ul>
    </li>


    <li *ngIf="currentUser.Role == 'CompanyAdmin'" class=" nav-item">
        <a class="nav-link" [routerLink]="['/','management','dashboard']">
            <i class="la la-home"></i><span>Dashboard</span>
        </a>
    </li>

    <li *ngIf="currentUser.Role == 'Administrator' || currentUser.Role == 'CompanyAdmin' ||  currentUser.Role === 'Employee_Travel_Services'"
        class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="javascript:void(0)"
            data-toggle="dropdown"><i class="la la-newspaper-o"></i><span>Quản Lý Dịch Vụ Lưu Trú</span></a>
        <ul class="dropdown-menu">
            <li data-menu="">
                <a class="dropdown-item" [routerLink]="['/','management','companys']" data-toggle="">
                    <i class="la la-hotel"></i><span>Quản Lý Đăng Ký Kinh Doanh</span>
                </a>
            </li>
            <li class="nav navbar-nav" data-menu="dropdown"><a class="dropdown-toggle nav-link"
                    href="javascript:void(0)" [routerLink]="['/','management','services-management']"
                    data-toggle="dropdown"><i class="la la-cloud"></i><span>Quản Lý Dịch Vụ</span></a>
            </li>
        </ul>
    </li>

    <li *ngIf="currentUser && (currentUser.Role === 'Administrator' || currentUser.Role === 'Employee_Cultural_Services')"
        class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="javascript:void(0)"
            data-toggle="dropdown"><i class="la la-share-alt"></i><span>Quản Lý Dịch Vụ Văn Hóa</span></a>
        <ul class="dropdown-menu">
            <li data-menu="">
                <a class="dropdown-item" [routerLink]="['/','management','karaokes']" data-toggle="">
                    <i class="la la-music"></i><span>Karaoke</span>
                </a>
            </li>
            <li data-menu="">
                <a class="dropdown-item" [routerLink]="['/','management','internets']" data-toggle="">
                    <i class="la la-wifi"></i><span>Internet</span>
                </a>
            </li>
        </ul>
    </li>
    <li *ngIf="currentUser && (currentUser.Role === 'Administrator' || currentUser.Role === 'Employee_Historical')"
        class="dropdown nav-item" data-menu="dropdown">
        <a class="dropdown-toggle nav-link" [routerLink]="['/','management','historical']" data-toggle=""><i
                class="la la-folder-open"></i><span>Di Tích Lịch Sử</span></a>
    </li>

    <li *ngIf="currentUser.Role === 'Administrator' || currentUser.Role === 'Employee_Cultural_Services' || currentUser.Role === 'Employee_Travel_Services'"
        class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="javascript:void(0)"
            data-toggle="dropdown"><i class="la la-gear"></i><span>Quản Lý Hệ Thống</span></a>
        <ul class="dropdown-menu">
            <li data-menu="">
                <a class="dropdown-item" [routerLink]="['/','management','license-types']" data-toggle="">
                    <i class="la la-tags"></i><span>Loại Giấy Phép</span>
                </a>
            </li>

            <li data-menu=""><a class="dropdown-item" [routerLink]="['/','management','organization']" data-toggle=""><i
                        class="la la-user-secret"></i><span>Tổ Chức</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item" [routerLink]="['/','management','representatives']"
                    data-toggle=""><i class="la la-user-plus"></i><span>Người Đại Diện</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item" [routerLink]="['/','management','room-types']" data-toggle=""><i
                        class="la la-user-plus"></i><span>Loại Phòng</span></a>
            </li>
        </ul>
    </li>

    <li *ngIf="currentUser.Role == 'CompanyAdmin'" class="dropdown nav-item" data-menu="dropdown"><a
            class="dropdown-toggle nav-link" href="javascript:void(0)" data-toggle="dropdown"><i
                class="la la-building"></i><span>Quản Lý Đặt Phòng</span></a>
        <ul class="dropdown-menu">
            <li data-menu=""><a class="dropdown-item" [routerLink]="['/','management','room-manager']" data-toggle=""><i
                        class="la la-hotel"></i><span>Danh Sách Phòng</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item" [routerLink]="['/','management','orders']" data-toggle=""><i
                        class="la la-list-alt"></i><span>Danh Sách Hóa Đơn</span></a>
            </li>
        </ul>
    </li>


    <li *ngIf="currentUser.Role == 'CompanyAdmin' || currentUser.Role == 'Administrator'" class="nav navbar-nav"
        data-menu="dropdown"><a class="dropdown-toggle nav-link" href="javascript:void(0)"
            [routerLink]="['/','management','customers']" data-toggle="dropdown"><i class="la la-users"></i><span>Quản
                Lý Khách Hàng</span></a>
    </li>

    <li *ngIf="currentUser.Role == 'Administrator'" class="nav navbar-nav" data-menu="dropdown"><a
            class="dropdown-toggle nav-link" href="javascript:void(0)" [routerLink]="['/','management','users']"
            data-toggle=""><i class="la la-user-plus"></i><span>Quản
                Lý Người Dùng</span></a>
    </li> -->

    <!-- <li class="dropdown nav-item" data-menu="dropdown">
        <a class="dropdown-toggle nav-link" href="javascript:void(0)" data-toggle="dropdown">
            <i class="la la-newspaper-o"> </i>
            <span>Thống Kê Báo Cáo</span>
        </a> -->
        <!-- <ul class="dropdown-menu">
            <li  data-menu="" class="nav navbar-nav" data-menu="dropdown">
                <a class="dropdown-item" [routerLink]="['/','management','report-cultural-services']" data-toggle="">
                    <i class="la la-hotel"></i><span>Thông Tin Quản Lý Dịch Vụ Văn Hóa</span>
                </a>
            </li>
            <li class="nav navbar-nav" data-menu="dropdown"><a class="dropdown-toggle nav-link"
                    href="javascript:void(0)" [routerLink]="['/','management','report-travel-services']"
                    data-toggle="dropdown"><i class="la la-cloud"></i><span>Thông Tin Quản Lý Dịch Vụ Du Lịch</span></a>
            </li>
            <li class="nav navbar-nav" data-menu="dropdown"><a class="dropdown-toggle nav-link"
                    href="javascript:void(0)" [routerLink]="['/','management','report-stay-information-manager']"
                    data-toggle="dropdown"><i class="la la-cloud"></i><span>Thông Tin Quản Lý Lưu Trú</span></a>
            </li>
            <li class="nav navbar-nav" data-menu="dropdown"><a class="dropdown-toggle nav-link"
                    href="javascript:void(0)" [routerLink]="['/','management','report-historical']"
                    data-toggle="dropdown"><i class="la la-cloud"></i><span>Thông Tin Quản Lý Di Tích Lịch Sử</span></a>
            </li>
        </ul> -->
    <!-- </li>
    <li class=" nav-item">
        <a class="nav-link" [routerLink]="['/','management','dashboard']">
            <i class="la la-home"></i><span>Dashboard</span>
        </a>
    </li>

</ul> -->


<div class="user-profile">
    <div class="user-info text-center pt-1 pb-1">
        <img class="user-img img-fluid rounded-circle" src="/assets/images/portrait/small/avatar-s-1.png" alt="lg"/>
        <div class="name-wrapper d-block dropdown"><a class="white dropdown-toggle ml-2" id="user-account" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-name">Charlie Adams</span></a>
            <div class="text-light">Số dư: 0VND</div>
            <!-- <div class="dropdown-menu arrow" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item"><i class="material-icons align-middle mr-1">person</i><span class="align-middle">Profile</span></a>
                <a class="dropdown-item"><i class="material-icons align-middle mr-1">message</i><span class="align-middle">Messages</span></a>
                <a class="dropdown-item"><i class="material-icons align-middle mr-1">attach_money</i><span class="align-middle">Balance</span></a>
                <a class="dropdown-item"><i class="material-icons align-middle mr-1">settings</i><span class="align-middle">Settings</span></a>
                <a class="dropdown-item"><i class="material-icons align-middle mr-1">power_settings_new</i><span class="align-middle">Log Out</span></a>
            </div> -->
        </div>
    </div>
</div>
<div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

            <!-- <li *ngIf="currentUser.Role == 'Administrator' || currentUser.Role == 'Employee_Travel_Services'"
                class="nav navbar-nav" data-menu="dropdown">
                <a class="dropdown-toggle nav-link"
                    href="javascript:void(0)" [routerLink]="['/','management','report-stay-information-manager']"
                    data-toggle="dropdown"><i class="la la-cloud"></i><span>Thông Tin Quản Lý Lưu Trú</span></a>
            </li> -->

            <li class=" nav-item">
                <a href="javascript:void(0)" [routerLink]="['/','dashboard']">
                    <i class="la la-home mr-1 blue"></i>
                    <span class="menu-title" data-i18n="Account">Dashboard</span>
                </a>
            </li>

        <li class=" nav-item">
            <a href="javascript:void(0)" [routerLink]="['/','management','account-profile',0]">
                <i class="la la-user mr-1 blue"></i>
                <span class="menu-title" data-i18n="Account">Thông Tin Cá Nhân</span>
            </a>
        </li>

        <li class=" nav-item">
            <a href="javascript:void(0)" [routerLink]="['/','management','invertor', 0]">
                <i class="la la-edit mr-1 blue"></i>
                <span class="menu-title" data-i18n="sponsor">Gói Đầu Tư</span>
            </a>
        </li>
        <li class=" nav-item">
            <a href="javascript:void(0)" [routerLink]="['/','management','deposit', 0]">
                <i class="la la-usd mr-1 blue"></i>
                <!-- <i class="material-icons blue mr-1 ">monetization_on</i> -->
                <span class="menu-title" data-i18n="deposit">Nộp Tiền</span>
            </a>
        </li>
        <li class=" nav-item">
            <a href="javascript:void(0)" [routerLink]="['/','management','withdraw', 0]">
                <i class="la la-money mr-1 blue"></i>
                <span class="menu-title" data-i18n="withdraw">Rút Tiền</span>
            </a>
        </li>
        <li class=" nav-item">
            <a href="javascript:void(0)" [routerLink]="['/','management','balance-management', 0]">
                <i class="la la-user-plus mr-1 blue"></i>
                <span class="menu-title" data-i18n="Account Setting">Quản Lý Số Dư</span>
            </a>
        </li>



        
    </ul>
</div>
<!-- END: Main Menu-->


